@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

body[data-language='ar'] {
  font-family: 'Cairo', sans-serif;
}

.font-serif {
  font-family: 'Cormorant Garamond', serif;
}

body[data-language='ar'] .font-serif {
  font-family: 'Cairo', sans-serif;
}
